/* reset */
h1,
h2,
h3,
h4,
p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
}

button {
    cursor: pointer;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
    color: currentColor;
}
/* /reset */

/* Base style */
:root {
    /* Font */
    --primary-font: 'Roboto', sans-serif;
    --secondary-font: 'Kalam', cursive;
    --accent-font: 'Inter', sans-serif;
    /* Text color */
    --primary-black-txt-color: #2C2C2C;
    --dark-green-txt-color: #7EB101;
    --accent-button-green-txt-color: #BBF330;
    /* Background color */
    --button-green-bcg-color: #BBF330;
    --white-bcg-color: #FEFEFE;
    --yellow-main-bcg-color: #FFE550;
    --white-bcg-color: #F5F5F5;
    --white: #FFFFFF;
    --dark-green-bcg-color: #7EB101;
    /* Others */
    --radius: 30px;
    --transition-dur-func: 250ms ease-in-out;
}

/* body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: var(--primary-black-txt-color);

    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
} */

/* 
.container {
    width: 1248px;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;


    outline: 2px solid red;
    outline-offset: -2px;
} */



/* .light-bcg-section {
    background-color: var(--white-bcg-color);
} */

/* ============Components============= */
/* .title{
   margin-bottom: 20px; 

   font-weight: 700;
   font-size: 42px;
   line-height: calc(49 / 42);
}

.subtitle {
    margin-bottom: 16px;

    font-weight: 700;
    font-size: 18px;
    line-height: calc(25 / 18);
}

.section-description {
    margin-bottom: 40px;

    line-height: calc(24 / 16);
}

.accent-section-description {
    margin-bottom: 32px;

    font-size: 14px;
    line-height: calc(21 / 14);
}

.btn {
    display: inline-block;
    min-width: 98px;
    min-height: 32px;

    padding: 6px 18px;

    font-weight: 500;
    font-size: 13px;
    line-height: calc(20 / 13); 
    border-radius: var(--radius);
}

.green-btn {
    border: none;
    background-color: var(--button-green-bcg-color);

    transition: background-color var(--transition-dur-func);
}

.green-btn:hover,
.green-btn:focus {
    background-color: var(--yellow-main-bcg-color);
}

.light-btn {
    padding: 10px 22px;
    background-color: var(--white);
    border: 2px solid var(--dark-green-bcg-color);
    min-height: 40px;

    transition: background-color var(--transition-dur-func), border var(--transition-dur-func);
}

.light-btn:hover,
.light-btn:focus {
    background-color: var(--button-green-bcg-color);
    border: 2px solid var(--button-green-bcg-color);
} */
/* ============/Components============= */

/* ========Header=============== */
/* .page-header {
    background-color: var(--white);
    box-shadow: 0px 4px 24px rgba(105, 105, 105, 0.1);;
}
.container-header {
    display: flex; 
    justify-content: space-between;
    align-items: center;
}

.page-block {
    display: flex;
    align-items: center;
    gap: 30px;
}
.menu {
    display: flex;
    gap: 28px;
}

.menu-link {
    display: block;
    padding-top: 28px;
    padding-bottom: 28px;

    font-size: 14px;
    line-height: calc(16 / 14);

    transition: color 250ms ease-in-out;
}
.menu-link:hover,
.menu-link:focus {
    color: var(--accent-button-green-txt-color);
} */

/* ========Header=============== */

/* =========Hero=============== */
/* .hero-section {
    padding-top: 14px;
    padding-bottom: 14px;
}

.main-title {
    margin-bottom: 28px;

    font-weight: 700;
    font-size: 48px;
    line-height: calc(58 / 48);
}

.hero-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-part-wrapper{
    width: 502px;
}

.hero-img {
    border: 26px solid var(--yellow-main-bcg-color);
    border-radius: 50%;
} */
/* =========/Hero=============== */

/* ============Offering========== */
/* .offering-section {
    width: 1280px;
    min-height: 824px;
    margin-top: -128px;
    padding-top: 200px;
    padding-bottom: 100px;
   
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-image: url(../images/offering-bcg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    background-color: var(--white-bcg-color);
}

.coment {
    margin-bottom: 40px;

    font-weight: 700;
    font-size: 18px;
    line-height: calc(21 / 18);
}

.accent-subtitle {
    margin-bottom: 2px;

    font-weight: 500;
    font-size: 14px;
    line-height: calc(21 / 14);
}

.offering-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-bottom: 100px;
}

.yellow-elipse {
    position: relative;
    
    width: 555px;
    height: 555px;
    background-color: var(--yellow-main-bcg-color);
    border-radius: 50%;
    border: 5px solid rgba(255, 255, 255, 0.5);
}

.white-elipse {
    position: absolute;
    top: 24px;
    left: 24px;

    width: 502px;
    height: 502px;
    background-color: var(--white-bcg-color);
    border-radius: 50%;
}

.shadow {
    position: absolute;
    bottom: 51px;
    left: 131px;
    width: 252px;
    height: 87px;
    background-image: radial-gradient(50% 50% at 50% 50%, #2F583F 0%, rgba(105, 105, 105, 0) 100%);
    filter: blur(13px);
}

.offering-img {
    position: absolute;
    z-index: 5;
    
    bottom: 70px;
    left: 50%;
    transform: translateX(-50%); 
}

.offering-txt-wrapper {
    width: 573px; 
}

.offering-list {
    display: flex;
    gap: 67px;
} */


/* ============/Offering========== */

/* ============Favorites============== */
/* .favorities-section {
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;

}

.favorities-list {
    display: flex;
    flex-wrap: wrap;
   
   gap: 32px;
}

.favority-item {
    flex-basis: calc((100% - (32 * 2)) / 3);
}

.favority-img {
    width: 384px;
    padding: 20px;
    background-color: var(--white-bcg-color);
    border-radius: 197.5px;
    border: 16px solid var(--yellow-main-bcg-color);
} */

/* ============/Favorites============== */

/* ============ Customer Say==========*/
body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: var(--primary-black-txt-color);
}

.container {
    max-width: 320px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;


    outline: 2px solid red;
    outline-offset: -2px;
}

@media screen and (min-width: 768px) {
    .container{
        max-width: 768px;
        padding-left: 32px;
        padding-right: 32px;
    }
}

@media screen and (min-width: 1200px) {
    .container {
        max-width: 1280px;
        padding-left: 16px;
        padding-right: 16px;
    }
}


.feedback-section {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 60px;
    padding-bottom: 60px;

    background-image: url(../images/customer-say/bg_mob@1x.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}

@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .feedback-section {
        background-image: url(../images/customer-say/bg_mob@2x.png);
    }
}

@media screen and (min-width: 321px) {
    .feedback-section {
        background-image: url(../images/customer-say/bg_480@1x.png);
    }
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        .feedback-section {
            background-image: url(../images/customer-say/bg_480@2x.png);
        }
    }
}

@media screen and (min-width: 481px) {
    .feedback-section {
        padding-top: 60px;
        padding-bottom: 120px;
        background-image: url(../images/customer-say/bg_tab@1x.png);
    }
    
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        .feedback-section {
            background-image: url(../images/customer-say/bg_tab@2x.png);
        }
    }
}

@media screen and (min-width: 769px) {
    .feedback-section {
        padding-top: 100px;
        padding-bottom: 200px;
        background-image: url(../images/customer-say/bg_desk@1x.png);
    }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .feedback-section {
            background-image: url(../images/customer-say/bg_desk@2x.png);
        }
    }
}

.title {
    margin-bottom: 28px;

    font-weight: 700;
    font-size: 28px;
    line-height: calc(33 / 28);
}
@media screen and (min-width: 768px) {
    .title {
        margin-bottom: 20px;

        font-size: 42px;
        line-height: calc(49 / 42);
    }
    
}

.section-description {
    margin-bottom: 32px;
    font-size: 14px;
    line-height: calc(16 / 14);
}

@media screen and (min-width: 768px) {
    .section-description{
        font-size: 16px;
        line-height: calc(19 / 16);
    }
}

.feedback-list {
    display: flex;
    gap: 139px;
    justify-content: left;
}
@media screen and (max-width: 767.98px){
    .feedback-list{
        flex-direction: column;
        gap: 24px;
    }
}

@media screen and (max-width: 1199.98px){
    .feedback-list {
        gap: 32px;
    }
}

.feedback-item {
    padding: 8px;
    width: 280px;
    background-color: var(--white-bcg-color);
    border-radius: 0px 30px 30px 30px;
}

@media screen and (min-width: 780px){
    .feedback-item {
        padding: 12px;
        width: 336px;
    }  
}

@media screen and (min-width: 1200px) {
    .feedback-item{
        padding: 14px;
        width: 501px;
    }
}

.icon-stars {
    margin-bottom: 28px;
    margin-left: 14px;
}

.coment {
    margin-bottom: 40px;

    font-weight: 700;
    font-size: 18px;
    line-height: calc(21 / 18);
}

.avatar-block {
    
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 8px;
}
@media screen and (min-width: 768px) {
    .avatar-block{
        margin-bottom: 12px;
    }
}

@media screen and (min-width: 1200px) {
    .avatar-block {
        margin-bottom: 14px;
    }
}

.subtitle {   
    margin-bottom: 2px;

    font-weight: 500;
    font-size: 14px;
    line-height: calc(21 / 14);
}

.avatar-text-part {
    position: relative;
}

.ava-text {
    font-size: 14px;
    line-height: calc(21 / 14);
} 
.avatar-text-part::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 100%;
    
    width: 52px;
    border: 0.854167px solid var(--dark-green-bcg-color);
    transform: rotate(90deg);
}

/* ============ Customer Say==========*/

/* ============Subscribe=============== */
/* .subscribe-section {
    padding-top: ;
    padding-bottom: 64px;
}

.subscribe-wrapper {
    display: flex;
    justify-content: space-between;
}

.subscribe-btn {
    padding: 11px 22px;
} */



/* ============/Subscribe=============== */

/* =========Footer========= */
/* .footer-section{
    padding-top: 100px;
    padding-bottom: 100px;

    background-image: url(../images/fruit-futer.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.footer-first-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.link-description {
    font-size: 12px;
    line-height: calc(14 / 12);
}

.footer-btn {
    transition: border var(--transition-dur-func);
}

.footer-btn:hover {
    background-color: var(--white);
    border: 2px solid var(--yellow-main-bcg-color);
}

.link-footer-green {
    color: var(--dark-green-txt-color);
}

.footer-second-block {
    display: flex;
    justify-content: space-between;
    padding-top: 80px;
}

.link-list {
    display: flex;
    gap: 20px;
    
}


.link-doc {
    font-size: 12px;
    line-height: calc(14 / 12);
    color: var(--dark-green-txt-color);
    text-decoration: underline;
} */
/* =========/Footer========= */