/* reset */
h1,
h2,
h3,
h4,
p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
}

button {
    cursor: pointer;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
    color: currentColor;
}
/* /reset */

/* Base style */
:root {
    /* Font */
    --primary-font: 'Roboto', sans-serif;
    --secondary-font: 'Kalam', cursive;
    --accent-font: 'Inter', sans-serif;
    /* Text color */
    --primary-black-txt-color: #2C2C2C;
    --dark-green-txt-color: #7EB101;
    --accent-button-green-txt-color: #BBF330;
    /* Background color */
    --button-green-bcg-color: #BBF330;
    --white-bcg-color: #FEFEFE;
    --yellow-main-bcg-color: #FFE550;
    --white-bcg-color: #F5F5F5;
    --white: #FFFFFF;
    --dark-green-bcg-color: #7EB101;
    /* Others */
    --radius: 30px;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: var(--primary-black-txt-color);
}


.container {
    width: 1248px;
    /* padding-left: 15px;
    padding-right: 15px; */
    margin-left: auto;
    margin-right: auto;


    outline: 2px solid red;
    outline-offset: -2px;
}

.yellow-bcg-section {
    background-color: var(--yellow-main-bcg-color);
}

.light-bcg-section {
    background-color: var(--white-bcg-color);
}

/* ============Components============= */
.title{
   margin-bottom: 20px; 

   font-weight: 700;
   font-size: 42px;
   line-height: calc(49 / 42);
}

.subtitle {
    margin-bottom: 16px;

    font-weight: 700;
    font-size: 18px;
    line-height: calc(25 / 18);
}

.section-description {
    margin-bottom: 40px;

    line-height: calc(24 / 16);
}

.accent-section-description {
    margin-bottom: 32px;

    font-size: 14px;
    line-height: calc(21 / 14);
}

.btn {
    display: inline-block;
    min-width: 98px;
    border-radius: var(--radius);
    padding: 6px 18px;

    font-weight: 500;
    font-size: 13px;
    line-height: calc(20 / 13); 
}

.green-btn {
    border: none;
    background-color: var(--button-green-bcg-color);}

.light-btn {
    background-color: var(--white);
    border: 2px solid var(--dark-green-bcg-color);
}
/* ============/Components============= */

/* ========Header=============== */
.page-header {
    background-color: var(--white);
}
.container-header {
    display: flex; 
    justify-content: space-between;
}

.page-block {
    display: flex;
    gap: 30px;
}
.menu {
    display: flex;
    gap: 28px;
}

.menu-link {
    display: block;
    padding-top: 28px;
    padding-bottom: 28px;

    font-size: 14px;
    line-height: calc(16 / 14);
}
.menu-link:hover,
.menu-link:focus {
    color: var(--accent-button-green-txt-color);
}

/* ========Header=============== */

/* =========Hero=============== */
.main-title {
    margin-bottom: 28px;

    font-weight: 700;
    font-size: 48px;
    line-height: calc(58 / 48);
}
/* =========/Hero=============== */

/* ============Customer Say========== */
.say-item {
    background-color: var(--white-bcg-color);
}

.coment {
    margin-bottom: 40px;

    font-weight: 700;
    font-size: 18px;
    line-height: calc(21 / 18);
}

.accent-subtitle {
    margin-bottom: 2px;

    font-weight: 500;
    font-size: 14px;
    line-height: calc(21 / 14);
}
/* ============/Customer Say========== */

/* =========Footer========= */
.link-description {
    font-size: 12px;
    line-height: calc(14 / 12);
}

.link-footer-green {
    color: var(--dark-green-txt-color);
}

.link-doc {
    font-size: 12px;
    line-height: calc(14 / 12);
    color: var(--dark-green-txt-color);
    text-decoration: underline;
}
/* =========/Footer========= */